/* purgecss start ignore */
@import '_buttons.scss';
@import '_fonts.scss';
@import '_tabs.scss';
/* purgecss end ignore */

@tailwind base;

body {
	@apply font-inter tracking-tight;
}

@tailwind components;
@tailwind utilities;

.list {
	text-align: left;
	max-width: 750px;
	margin: auto;
}

.submit-form {
	max-width: 300px;
	margin: auto;
}

.edit-form {
	max-width: 300px;
	margin: auto;
}

.profile-mobile-menu {
	transform: translate(-130px, -48px);
	min-height: 3rem;
	width: 9.375rem;
}

h1,
h2,
h3 {
	@apply text-riverbed font-bold;
}

.spinner {
	transform-origin: center;
	animation: spinner 0.75s step-end infinite;
}
@keyframes spinner {
	8.3% {
		transform: rotate(30deg);
	}
	16.6% {
		transform: rotate(60deg);
	}
	25% {
		transform: rotate(90deg);
	}
	33.3% {
		transform: rotate(120deg);
	}
	41.6% {
		transform: rotate(150deg);
	}
	50% {
		transform: rotate(180deg);
	}
	58.3% {
		transform: rotate(210deg);
	}
	66.6% {
		transform: rotate(240deg);
	}
	75% {
		transform: rotate(270deg);
	}
	83.3% {
		transform: rotate(300deg);
	}
	91.6% {
		transform: rotate(330deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.w-5\/100 {
	width: 5%;
}
.w-10\/100 {
	width: 10%;
}
.w-15\/100 {
	width: 15%;
}
.w-2\/5 {
	width: 40%;
}
